.normal-screeen-banner-parent-container {
  height: 100vh !important;
  width: 100%;
  /* padding: 0 144px; */
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
  /* background-color: #ccc; */
}
.banner-section-text-container {
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 80px;
}

.banner-section-text {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  /* letter-spacing: 2px; */
}

.banner-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-section-image {
  height: 100%;
  width: 85%;
}

.banner-section-explore-product-button {
  background: #A464F7;
  font-size: 16px;
  color: #FFFFFF;
  padding: 13px 34px;
  border-radius: 10px;
  letter-spacing: normal;
}

@media (min-width:768px) and (max-width:1024px) {
  .normal-screeen-banner-parent-container {
    padding: 0 72px;
  }

  .banner-section-text-container {
    height: 360px;
  }

  .banner-section-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  .banner-section-text {
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    line-height: inherit;
  }
}
/* For mobiles in portrait and landscape orientation */
@media screen and (max-width:768px) {

  .normal-screeen-banner-parent-container {
    /* padding: 0 43.2px; */
  }
  .banner-section-text-container {
    height: 100% !important;
    margin-top: 162px;
    padding: 0px 8px;
  }
  .banner-section-text {
    font-size: 26px;
    font-weight: 700;
    width: 100%;
    line-height: inherit;
  }
  .banner-section-explore-product-button {
    margin: 10px 0 0 0;
    /* padding: 57.6px 57.6px; */
    font-size: 14px;
  }
  .banner-section-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}