

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --MenuItemBgHover: #7D2FE2,;
  --inter-font: "Inter", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide all scrollbars but still allow scrolling */
html, body {
  overflow: auto;
 /* Allow scrolling */
  scrollbar-width: none;
  font-family: var(--inter-font);
 /* For Firefox */
  ;
}
/* Style the scrollbar */
 /* Customize the scrollbar width and height for desktop */
 ::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: oklch(0.707 0.022 261.325);
  border-radius: 10px;
  margin: 20px 0;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: oklch(0.446 0.03 256.802);
}

/* Hide scrollbar on mobile screens (max-width: 640px) */
@media (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
  }
}