

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --MenuItemBgHover: #7D2FE2,;
  --inter-font: "Inter", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide all scrollbars but still allow scrolling */
html, body {
  overflow: auto;
 /* Allow scrolling */
  scrollbar-width: none;
  font-family: var(--inter-font);
 /* For Firefox */
  ;
}
/* Style the scrollbar */
::-webkit-scrollbar {
  width: 1px; /* width of the scrollbar */
  height: 12px; /* height of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Track background color */
  border-radius: 10px;
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color */
  border-radius: 10px;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Change color on hover */
}

