

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --MenuItemBgHover: #7D2FE2;
  --inter-font: "Inter", sans-serif;
}


body {
  color: var(--foreground);
  background: var(--background);
}

/* Hide all scrollbars but still allow scrolling */
html, body {
  overflow: auto;
 /* Allow scrolling */
  scrollbar-width: none;
  /* font-family: var(--inter-font); */
 /* For Firefox */
  ;
}
/* Style the scrollbar */
 /* Customize the scrollbar width and height for desktop */
 /* ::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Style the scrollbar track */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a; /* thumb color */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* brighter on hover */
}

::-webkit-scrollbar-corner {
  background: #1a1a1a;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #1a1a1a; /* thumb | track */
}


.qrSection {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0px;
  border-radius: 20px;
}

.qrsection_qr {
  padding: 40px 0 40px 0;
}

.qrSection_bubbl {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  bottom: 0;
}

.qrSection_bubbl_logo {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
}

.custom-select{
  background: #333333;
  font-size: 12px;
  padding: 12px 10px;
  border-radius: 8px;
}